* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  gap: 5px;
  grid-template-areas:
    "topNav"
    "sideNavContainer";
  max-height: 100vh;
  overflow: hidden;
}

.sideNavContainer {
  grid-area: sideNavContainer;
  display: grid;
  min-height: 0;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: "sideNav videoContainer";
}

.videoContainer {
  grid-area: videoContainer;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  overflow-y: scroll;
  height: auto;
}


.scrollingDiv {
  display: grid;
  position: relative;
  grid-auto-columns: auto;
  grid-template-columns: repeat(24, auto);
  grid-template-rows: auto;
  height: 51px;
  width: 100%;
  scroll-behavior: smooth;
  gap: 4px 15px;
  border-bottom: 1px solid rgba(213, 213, 213, 0.618);
  border-top: 1px solid rgba(213, 213, 213, 0.618);
  padding: 10px;
  overflow: hidden;
}
#scrollBtn {
  position: absolute;
  height: 51px;
  width: 56px;
  right: 0;
  top:0;
  border: none;
  background-color: rgba(255, 255, 255, 0.907);
  font-size: 30px;
  overflow-x: none;
  border-radius: 0;
}
#scrollBtn:hover{
  color: black;
}
.scrollingDiv::-webkit-scrollbar {
  display: none;
}

.scrollingDiv button {
  border: solid rgb(194, 194, 194) 1px;
  background-color: rgba(213, 213, 213, 0.659);
  border-radius: 20px;
  padding: 4px;
  white-space: nowrap;
  list-style-type: none;
  cursor: pointer;
}

.scrollingDiv button:hover {
  transition: background-color 0.5s ease;
  background-color: black;
  color: white;
}

.videoCategory {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 10px;
}
.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.vid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

span {
  display: inline-block;
  font-size: 25px;
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center;
  color: grey;
}

button:hover,
link:hover {
  cursor: pointer;
}
button:visited,
link:visited,
a:visited {
  text-decoration: none;
}

#blueBtn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 116px;
  height: 36px;
  padding: 5px;
  align-content: center;
  justify-items: center;
  border: solid 1px #065fd4;
  background-color: white;
  text-decoration: none;
}
#blueBtn span {
  width: 24px;
  height: 24px;
  padding: 1px;
  font-size: 14px;
  color: white;
  background-color: #065fd4;
  border-radius: 50%;
}
#blueBtn p {
  padding: 3px;
  font-size: 14px;
  color: #065fd4;
  font-weight: 600;
}
.blueBtn:hover,
#blueBtn p:hover,
.blueBtn:visited,
#blueBtn p:visited,
.blueBtn:active,
#blueBtn p:active {
  color: #065fd4;
  text-decoration: none;
}
